<a href="https://colab.research.google.com/github/heyseeri/Introduction/blob/main/pandas_assignment_day_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Pandas Assignment</center>

Import pandas and numpy with their aliases

In [ ]:

import pandas as pd
import numpy as np

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [ ]:

import pandas as pd

a = pd.Series([100, 200, 300, 400])

print(a)

0    100
1    200
2    300
3    400
dtype: int64

Print a, and data type

In [ ]:
import pandas as pd
import numpy as np

a = pd.Series([100, 200, 300, 400])

print("Series a:")
print(a)

print("\nData type of values in a:", a.dtype)


print("Data type of a:", type(a))

Series a:
0    100
1    200
2    300
3    400
dtype: int64

Data type of values in a: int64
Data type of a: <class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [ ]:

import pandas as pd

a = pd.Series([100, 200, 300, 400])
print("Element at index 2:", a[2])

Element at index 2: 300

What are the values of index for series a?

In [ ]:

import pandas as pd

a = pd.Series([100, 200, 300, 400])
print(a)

0    100
1    200
2    300
3    400
dtype: int64

Change the index to  ['c', 'a', 'b', 'd']

In [ ]:
import pandas as pd

a = pd.Series([100, 200, 300, 400], index=['c', 'a', 'b', 'd'])

print(a)

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [ ]:
print(a['d'])

400

Sort the values wrt to the index and print it

In [ ]:

print(a.sort_index())

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

In [ ]:
# b = import pandas as pd

b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [ ]:
# a =

import pandas as pd


a = pd.Series([100, 200, 300, 400], index=['c', 'a', 'b', 'd'])
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])

result = pd.concat([a, b])

print(result)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [ ]:
# a =

Sorted values in descending order:
e    800
f    450
d    400
b    300
a    200
c    100
g    100
dtype: int64

Index of the sorted series:
Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [ ]:
# df =
import pandas as pd


a = pd.Series([100, 200, 300, 400], index=['c', 'a', 'b', 'd'])
b = pd.Series([800, 450, 100], index=['e', 'f', 'g'])


a = pd.concat([a, b])

df = a.to_frame(name="Values")

print("Pandas DataFrame:")
print(df)

Pandas DataFrame:
   Values
c     100
a     200
b     300
d     400
e     800
f     450
g     100

What is the shape of the datafarme <br>
(also, what does it imply?)

In [ ]:

print(df.shape)

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [ ]:
print(df.index)

Index(['c', 'a', 'b', 'd', 'e', 'f', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [ ]:
print("Head of dataframe:")
print(df.head())

print("\nTail of dataframe:")
print(df.tail())

Head of dataframe:
   Values
c     100
a     200
b     300
d     400
e     800

Tail of dataframe:
   Values
b     300
d     400
e     800
f     450
g     100

Rename the column of the dataframe as 'points'

In [ ]:

df.columns = ['points']
print(df)

   points
c     100
a     200
b     300
d     400
e     800
f     450
g     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

In [ ]:
#Create fruits array

# fruits =
import numpy as np
import pandas as pd

# create random fruits series
fruits = pd.Series(np.random.choice(['orange', 'mango', 'apple'], size=7))

print(fruits)

0     mango
1     apple
2     apple
3    orange
4     apple
5     apple
6     mango
dtype: object

In [ ]:
#Create series fruits out of fruits array

# fruits =

import numpy as np
import pandas as pd

# fruits array
fruits_array = np.random.choice(['orange', 'mango', 'apple'], size=7)

# create series from fruits array
fruits = pd.Series(fruits_array)

print(fruits)

0    orange
1     mango
2     apple
3    orange
4    orange
5     apple
6     apple
dtype: object

Change the index of fruits to the index of dataframe df

In [ ]:

fruits.index = df.index

print(fruits)

c    orange
a     mango
b     apple
d    orange
e    orange
f     apple
g     apple
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [ ]:

df['fruits'] = fruits

print(df.head())

   points  fruits
c     100  orange
a     200   mango
b     300   apple
d     400  orange
e     800  orange

## Pandas Concatenation

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

In [ ]:

import pandas as pd

d1 = pd.DataFrame({
    'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
    'Temperature': [15, 22, 20, 26, -2]
})

print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

Print(d1)

In [ ]:

print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [ ]:

print(d1.shape)

(5, 2)

Set city = d1['city']

In [ ]:

city = d1['city']
print(city)

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object

print city <br>
What is the type of city.

In [ ]:

city = d1['city']
print(city)
print(type(city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

In [ ]:

import pandas as pd


d2 = pd.DataFrame({
    'city': ['Bengalaru', 'Coimbatore', 'Srirangam', 'Pondicherry'],
    'Temperature': [24, 35, 36, 39]
})

print(d2)

          city  Temperature
0    Bengalaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

In [ ]:
print(d2.shape)

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [ ]:

import pandas as pd



d3 = pd.concat([d1, d2], ignore_index=True)
print(d3)

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengalaru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

In [ ]:

cold_cities = d3[d3['Temperature'] <= 20]

print(cold_cities)


print("Number of cities:", cold_cities.shape[0])

         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2
Number of cities: 3

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [ ]:

hot_cities = d3[d3['Temperature'] >= 35]

print(hot_cities)


print("Number of cities:", hot_cities.shape[0])

          city  Temperature
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39
Number of cities: 3

## Applying functions to columns and creating new columns

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [ ]:

union_territories = ['Chandigarh', 'Pondicherry', 'Delhi']


d3['is_UT'] = d3['city'].isin(union_territories)

print(d3)

          city  Temperature  is_UT
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
5    Bengalaru           24  False
6   Coimbatore           35  False
7    Srirangam           36  False
8  Pondicherry           39   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [ ]:
# write function here / formula


#F = (C \times \frac{9}{5}) + 32

SyntaxError: unexpected character after line continuation character (ipython-input-3688981148.py, line 4)

In [ ]:

def c_to_f(celsius):
    return (celsius * 9/5) + 32


print(c_to_f(10))


d3['Temperature_F'] = d3['Temperature'].apply(c_to_f)

print(d3)

50.0
          city  Temperature  is_UT  Temperature_F
0   Chandigarh           15   True           59.0
1        Delhi           22   True           71.6
2       Kanpur           20  False           68.0
3      Chennai           26  False           78.8
4       Manali           -2  False           28.4
5    Bengalaru           24  False           75.2
6   Coimbatore           35  False           95.0
7    Srirangam           36  False           96.8
8  Pondicherry           39   True          102.2

In [ ]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'


def c_to_f(celsius):
    return (celsius * 9/5) + 32


d3['temp_farenhiet'] = d3['Temperature'].apply(c_to_f)


print(d3)

          city  Temperature  is_UT  Temperature_F  temp_farenhiet
0   Chandigarh           15   True           59.0            59.0
1        Delhi           22   True           71.6            71.6
2       Kanpur           20  False           68.0            68.0
3      Chennai           26  False           78.8            78.8
4       Manali           -2  False           28.4            28.4
5    Bengalaru           24  False           75.2            75.2
6   Coimbatore           35  False           95.0            95.0
7    Srirangam           36  False           96.8            96.8
8  Pondicherry           39   True          102.2           102.2

## Indexing and selecting rows in DataFrame

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [ ]:


ut_cities = d1[d1['city'].isin(['Chandigarh', 'Delhi'])]

print(ut_cities)

         city  Temperature
0  Chandigarh           15
1       Delhi           22

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [ ]:

subset = d1[d1['Temperature'].apply(c_to_f) > 90]

print(subset)

Empty DataFrame
Columns: [city, Temperature]
Index: []

Select only the first three rows of the dataframe d1.

In [ ]:

print(d1.head(3))

print(d1.iloc[:3])

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20

Select all the rows and last two columns in the dataframe.

In [ ]:
# Select all rows and last two columns
print(d1.iloc[:, -2:])

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

## Groupby

In [ ]:
# Create a dataframe using dictionary of your choice

# data =
import pandas as pd

data = {
    'Name': ['shri', 'Omkar', 'Sai', 'kajal'],
    'Age': [23, 29, 21, 32],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Bengaluru'],
    'Score': [85, 90, 78, 88]
}

df = pd.DataFrame(data)

print(df)

    Name  Age       City  Score
0   shri   23      Delhi     85
1  Omkar   29     Mumbai     90
2    Sai   21    Chennai     78
3  kajal   32  Bengaluru     88

In [ ]:
# Use Groupby of single column with aggregate sum()

import pandas as pd

# Sample dataframe
data = {
    'Name': ['shri', 'omkar', 'sai', 'kajal', 'dipesh', 'Nidhi'],
    'Age': [23, 29, 21, 32, 23, 29],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Bengaluru', 'Delhi', 'Mumbai'],
    'Score': [85, 90, 78, 88, 95, 70]
}

df = pd.DataFrame(data)

grouped = df.groupby('Name').sum(numeric_only=True)

print(grouped)

        Age  Score
Name
Nidhi    29     70
dipesh   23     95
kajal    32     88
omkar    29     90
sai      21     78
shri     23     85

In [ ]:
# Use Groupby of single column with aggregate count()
import pandas as pd

# Create dataframe
data = {
    'Name': ['shri', 'omkar', 'sai', 'kajal', 'dipesh', 'Nidhi', 'shri', 'sai', 'omkar'],
    'Score': [90, 85, 88, 76, 95, 80, 70, 60, 55]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

grouped = df.groupby('Name').count()

print("\nGroupBy Count:")
print(grouped)

Original DataFrame:
     Name  Score
0    shri     90
1   omkar     85
2     sai     88
3   kajal     76
4  dipesh     95
5   Nidhi     80
6    shri     70
7     sai     60
8   omkar     55

GroupBy Count:
        Score
Name
Nidhi       1
dipesh      1
kajal       1
omkar       2
sai         2
shri        2

In [ ]:
# Use Groupby of single column with aggregate min() and max()

import pandas as pd

data = {
    'Name': ['shri', 'omkar', 'sai', 'kajal', 'dipesh', 'Nidhi', 'shri', 'sai', 'omkar'],
    'Score': [90, 85, 88, 76, 95, 80, 70, 60, 55]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

grouped = df.groupby('Name').agg({'Score': ['min', 'max']})

print("\nGroupBy with min() and max():")
print(grouped)

Original DataFrame:
     Name  Score
0    shri     90
1   omkar     85
2     sai     88
3   kajal     76
4  dipesh     95
5   Nidhi     80
6    shri     70
7     sai     60
8   omkar     55

GroupBy with min() and max():
       Score
         min max
Name
Nidhi     80  80
dipesh    95  95
kajal     76  76
omkar     55  85
sai       60  88
shri      70  90

In [ ]:
# Use Groupby of any 2 columns with aggregate mean()

import pandas as pd


data = {
    'Name': ['shri', 'omkar', 'sai', 'kajal', 'dipesh', 'Nidhi', 'shri', 'sai', 'omkar', 'kajal'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Math', 'Math', 'Science', 'Science', 'Math', 'Math'],
    'Score': [90, 85, 88, 76, 95, 80, 70, 60, 55, 89]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

grouped = df.groupby(['Name', 'Subject']).mean(numeric_only=True)

print("\nGroupBy of 2 columns with mean():")
print(grouped)

Original DataFrame:
     Name  Subject  Score
0    shri     Math     90
1   omkar  Science     85
2     sai     Math     88
3   kajal  Science     76
4  dipesh     Math     95
5   Nidhi     Math     80
6    shri  Science     70
7     sai  Science     60
8   omkar     Math     55
9   kajal     Math     89

GroupBy of 2 columns with mean():
                Score
Name   Subject
Nidhi  Math      80.0
dipesh Math      95.0
kajal  Math      89.0
       Science   76.0
omkar  Math      55.0
       Science   85.0
sai    Math      88.0
       Science   60.0
shri   Math      90.0
       Science   70.0

In [ ]:
# Use Groupby of any 2 columns with aggregate min() and max()
import pandas as pd

data = {
    'Name': ['shri', 'omkar', 'sai', 'kajal', 'dipesh', 'Nidhi', 'shri', 'sai', 'omkar', 'kajal'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Math', 'Math', 'Science', 'Science', 'Math', 'Math'],
    'Score': [90, 85, 88, 76, 95, 80, 70, 60, 55, 89]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

grouped = df.groupby(['Name', 'Subject']).agg(['min', 'max'])

print("\nGroupBy of 2 columns with min() and max():")
print(grouped)

Original DataFrame:
     Name  Subject  Score
0    shri     Math     90
1   omkar  Science     85
2     sai     Math     88
3   kajal  Science     76
4  dipesh     Math     95
5   Nidhi     Math     80
6    shri  Science     70
7     sai  Science     60
8   omkar     Math     55
9   kajal     Math     89

GroupBy of 2 columns with min() and max():
               Score
                 min max
Name   Subject
Nidhi  Math       80  80
dipesh Math       95  95
kajal  Math       89  89
       Science    76  76
omkar  Math       55  55
       Science    85  85
sai    Math       88  88
       Science    60  60
shri   Math       90  90
       Science    70  70

## Data Range

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [ ]:
import pandas as pd

a = pd.date_range(start='2020-01-01', end='2021-04-01')

print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

print a

In [ ]:

print(a)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

In [ ]:

len(a)

457

What is the type of a?

In [ ]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex